* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  body {
    min-height: 100vh;
    overflow: hidden;
  }
  .container {
  max-width: 1000px;
  margin: auto;
  }
header{
    nav{
        margin-top: 20px;
        .container{
            display:flex;
            justify-content: space-between;
            .logo{
                width: 79px;
                z-index: 100;
            }
            ul{
                list-style: none;
                display: flex;
                justify-content: space-between;
                gap: 60px;
                li{

                    display: block;
                    align-items: center;
                    .nav-link{
                        text-decoration: none !important;
                        color: black;
                    }
                    svg{
                        width: 12px;
                        vertical-align:middle;
                    }
                    &:hover{
                        .list-nav {
                            display:flex !important;
                            position: absolute;
                            background-color: white;
                            width: 100px;;
                            margin:auto !important;
                            border: 1px;
                            box-shadow: -1px -1px 41px -18px rgba(0,0,0,0.35) !important;
                            border-radius: 5%;
                            li{
                                margin: auto;
                            }
                        }   
                    }
                    .list-nav{
                        display: none !important;
                        }
                }
                @media screen and (max-width: 578px) {
                    display: none;
                }
            }
        }
    }
}
main{
    overflow: hidden;
    .fliter{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 10;
        background: rgb(2,0,36);
        background: linear-gradient(36deg, rgba(0,0,0,1) 0%, rgba(255,255,255,0) 100%);
    }
    .cover-container{
        width: 100%;
        overflow: hidden;
        
        img{
            object-fit: cover;
            width: 100%;
            height: 100vh;
            position: absolute;
            filter: brightness(0.7) ;
            z-index: -1;
        }
        .typography{
            padding-top: 15vh;
            position: absolute;
            z-index: 20;
            align-items: center;
            width: fit-content;
            margin-bottom: 72px;
            color :rgb(255, 255, 255);
            width: 57%;
          p{
            opacity : 0.4;
          }
          .btn{
              width:fit-content;
              padding: 10px;
              height: fit-content;
              margin-top: 20px ;
              border-radius:10px;
              border: 2px solid white;
              svg{
                  color:white;
                  width: 12px;
                  vertical-align:middle;
              }
          }
          @media screen and (max-width:658px){
            font-size: 12px;
          }
        }
    }
}
.footer{
    display: flex;
    width: 80%;
    height: 100px;
    position: absolute;
    z-index: 20;
    bottom: 0;
    right: 0;
    float: right;
    border-top-left-radius: 10px ;
    background-color: white;
    margin-bottom: 0;
    overflow-x:scroll ;
    .footer-item{
        padding-left: 40px ;
        display: flex;
        // justify-content: space-around;
        // position: absolute;
        bottom:0;
        img{
            margin: auto;
        }
        div{
            margin:  auto 10px;
            p{
                font-size: 14px;
            }
            @media screen and (max-width: 399px) {
                flex-wrap: max($numbers: 1);
                
                font-size: 14px;
            }
            @media screen and (max-width:372px){
                h4{
                    font-size: 12px;
                }
                p{
                    font-size: 10px;
                }
            }
        }
    }
}
.mobile-mnue{
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 22;
    transition: 1s;
    overflow: hidden;
  
    justify-content: center;
    align-items: center;
    display: flex;
    transform:  translate(-100%);
    ul {
      list-style: none;
      li {
        margin-bottom: 20px;
        font-size: 50px;
        text-align: center;
        transition: 0.5s;
        &:hover {
          transform: translatex(-1px);
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
}
.hamburger-btn {
    display: none;
    z-index: 200;
  
    @media screen and (max-width: 720px) {
      display: block;
    }
  }
  .active {
    transform:  translatex(0);
  }
  
  .hamburger {
    z-index: 23 !important;
    display: none;
    @media screen and (max-width: 578px) {
      display: block;
    }
  }
  